@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans:wght@100..900&display=swap");
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
:root{
  --font-family:'Encode Sans Expanded' , sans-serif
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: var(--font-family);
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}